/PebbleSharp.Core/bin
/PebbleSharp.Core/obj
/PebbleSharp.Core.Tests/bin
/PebbleSharp.Core.Tests/obj
/PebbleSharp.Net45/bin
/PebbleSharp.Net45/obj
/PebbleSharp.Net45.Tests/bin/Debug
/PebbleSharp.WinRT/bin/Debug
/PebbleSharp.WinRT/obj/Debug
/PebbleSharp.Net45.Tests/obj/Debug
/PebbleSharp.Mobile/PebbleSharp.Mobile.WinPhone
/PebbleSharp.Mobile/PebbleSharp.Mobile.iOS
/PebbleSharp.Mobile/PebbleSharp.Mobile.Android/obj/Debug
/Demo/PebbleSharp.WPF
/PebbleSharp.Driod/obj/Debug
/PebbleSharp.iOS/obj/Debug
/PebbleSharp.Mobile/PebbleSharp.Mobile
/PebbleSharp.sln.DotSettings.user
/PebbleSharp.v12.suo
/PebbleSharp.Universal/PebbleSharp.Universal.Windows/bin
/PebbleSharp.Universal/PebbleSharp.Universal.Windows/obj
/PebbleSharp.Universal/PebbleSharp.Universal.WindowsPhone/bin
/PebbleSharp.Universal/PebbleSharp.Universal.WindowsPhone/obj
/PebbleSharp.WinRT.Tests/bin
/PebbleSharp.WinRT.Tests/obj
/PebbleSharp.Universal/PebbleSharp.Universal.WindowsPhone/PebbleSharp.Universal.WindowsPhone.csproj.user
